<template>
    <div>
        <h2>{{ count }}</h2>
        <button @click="countUp">Count Up</button>
        <button @click="countDown">Count Down</button>
        <button @click="countReset">Reset</button>
    </div>
</template>

<script setup>
// import { ref } from 'vue';
import { reactive } from 'vue';
// const count = ref(0)

const count = reactive({count:0})

function countUp(){
    count.count++
}
function countDown(){   
    count.count--
}function countReset(){
    count.count = 0
}
</script>